/*imports the googal fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*css reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: roboto, arial, sans-serif;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: "noto serif", serif;
    margin-bottom: 0.5rem;
}

/**************** colours*****************/
.bg-primary{background-color: #7b4b2d;}
.bg-light{background-color: #ffffff;}
.bg-dark{ background-color: #363029;}
.bg-muted{background-color: #f8f6f5;}

.text-primary{color: #7b4b2d;}
.text-light{color: #ffffff;}
.text-dark{ color: #363029;}
.text-muted{color: #f8f6f5; }
/**************** SWATCHES*****************/
.swatches{
    display: flex;
    gap: 1rem;
}

.swatch .swatch-value {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(45, 48, 41, 0.2);
}
.swatch.swatch-name{
    text-align: centers;

}
