/*imports the googal fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*variables for this website*/
:root{
    --primary:#7b4b2d; 
    --light:#ffffff;
    --dark:#363029;
    --muted:#var(--primary)
}

/*css reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: roboto, arial, sans-serif;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: "noto serif", serif;
    margin-bottom: 0.5rem;
}

/**************** colours*****************/
.bg-primary{background-color: var(--primary)}
.bg-light{background-color: var(--light)}
.bg-dark{ background-color: var(--dark)}
.bg-muted{background-color: var(--muted)}

.text-primary{color: var(--primary);}
.text-light{color: var(--light);}
.text-dark{ color: var(--dark)}
.text-muted{color: var(--muted)}
/**************** SWATCHES*****************/
.swatches{
    display: flex;
    gap: 1rem;
}

.swatch .swatch-value {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(45, 48, 41, 0.2);
}
.swatch.swatch-name{
    text-align: centers;

}
