/*imports the googal fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*variables for this website*/
:root{
    --primary:#000043;; 
    --primary-tint:#020279;; 
    --primary-shade:#000020;; 
    
    --light:#FFFDF7;
    --dark:#000024;;

    --muted: #F2DAEE;;
    --muted-tint: #f5ecf3;;
    --muted-shade: #c1b1bf;;

    --font-normal: Roboto, Arial, sans-serif;
    --font-heading:"Noto Serif", serif;

    --spacing-0:0; /*0px*/
    --spacing-1:0.5rem; /*8px*/
    --spacing-2:1rem; /*16px*/
    --spacing-3:2rem;/*32px*/
    --shadow-dark:0 0.1rem 0.2rem 0.1rem rgba(45, 48, 41, 0.2);
    --shadow-light:0 0.1rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);
}

/*css reset*/
*{
    box-sizing: border-box; 
    /*will force elements to scale from the border insted*/
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-normal);
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}
/******************buttons************************/
.btn{
    border: none;
    border-radius: var(--spacing-2);
    padding: var(--spacing-1) var(--spacing-2);
    cursor: pointer;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--light);
}
.btn-primary:hover{
    background-color: var(--primary-tint);
}
.btn-primary:active{
    background-color: var(--primary-shade);
}
.btn-secondary{
    background-color: var(--muted);
    color: var(--dark);
}
.btn-secondary:hover{
    background-color: var(--muted-tint);
}
.btn-secondary:active{
    background-color: var(--muted-shade);
}
.link{
    color: var(--primary);
    text-decoration: underline;
}
.link:hover{
    color: var(--primary-tint);
}
link:active{
    color: var(--primary-shade);
}
/**************** colours*****************/
.bg-primary{background-color: var(--primary)}
.bg-light{background-color: var(--light)}
.bg-dark{ background-color: var(--dark)}
.bg-muted{background-color: var(--muted)}

.text-primary{color: var(--primary);}
.text-light{color: var(--light);}
.text-dark{ color: var(--dark)}
.text-muted{color: var(--muted)}

.shadow-dark{box-shadow: var(--shadow-dark);}
.shadow-light{box-shadow: var(--shadow-light);}
/*********************componets*************************/
.product-image{
    position: relative;
    /*this will tell the product to go wher it has to b=go by force*/
}
.product-image img{
    aspect-ratio: 16/9;
    width:100%;
    object-fit: cover;
    border: 4px solid var(--light);
    border-radius: var(--spacing-1);
    box-shadow: var(--shadow-dark);
}
.product-image .product-tag{
    background-color: var(--dark);
    color: var(--light);
    box-shadow: var(--shadow-light);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--spacing-3);
    position: absolute;
    top: var(--spacing-2);
    left: var(--spacing-2);
}
.tags{
    display: flex;
    gap: var(--spacing-1);
    list-style: none;
}
.tags .tag-item{
    background-color: var(--primary);
    color: var(--light);
    text-decoration: none;
    border-radius: var(--spacing-2);
    padding: var(--spacing-1) var(--spacing-2);
}
/*********************layout****************************/
.container{
    max-width: 1250px;
    margin: var(--spacing-3) auto var(--spacing-0);
}
.d-flex{ display: flex;}
.flex-between{
    justify-content: space-between;
}

.grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* repeat 1fr twice */
}

.grid-3col{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid-4col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/*******************spacing***********************/
.m-0{ margin: var(--spacing-0);}
.m-1{ margin: var(--spacing-1);}
.m-2{ margin: var(--spacing-2);}
.m-3{ margin: var(--spacing-3);}

.p-0{ padding: var(--spacing-0);}
.p-1{ padding: var(--spacing-1);}
.p-2{ padding: var(--spacing-2);}
.p-3{ padding: var(--spacing-3);}

.gap-0{ gap: var(--spacing-0);}
.gap-1{ gap: var(--spacing-1);}
.gap-2{ gap: var(--spacing-2);}
.gap-3{ gap: var(--spacing-3);} 
/**************** SWATCHES*****************/
.swatches{
    display: flex;
}
 
.swatch .swatch-value {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    box-shadow: var(--shadow-dark);
}
.swatch.swatch-name{
    text-align: centers;
}
