/*imports the googal fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*variables for this website*/
:root{
    --primary:#7b4b2d; 
    --light:#ffffff;
    --dark:#363029;
    --muted: #f8f6f5;

    --font-normal: Roboto, Arial, sans-serif;
    --font-heading:"Noto Serif", serif;

    --spacing-0:0; /*0px*/
    --spacing-1:0.5rem; /*8px*/
    --spacing-2:1rem; /*16px*/
    --spacing-3:2rem;/*32px*/
}

/*css reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-normal);
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}

/**************** colours*****************/
.bg-primary{background-color: var(--primary)}
.bg-light{background-color: var(--light)}
.bg-dark{ background-color: var(--dark)}
.bg-muted{background-color: var(--muted)}

.text-primary{color: var(--primary);}
.text-light{color: var(--light);}
.text-dark{ color: var(--dark)}
.text-muted{color: var(--muted)}

/*******************spacing***********************/
.m-0{ margin: var(--spacing-0);}
.m-1{ margin: var(--spacing-1);}
.m-2{ margin: var(--spacing-2);}
.m-3{ margin: var(--spacing-3);}

.p-0{ padding: var(--spacing-0);}
.p-1{ padding: var(--spacing-1);}
.p-2{ padding: var(--spacing-2);}
.p-3{ padding: var(--spacing-3);}

.gap-0{ gap: var(--spacing-0);}
.gap-1{ gap: var(--spacing-1);}
.gap-2{ gap: var(--spacing-2);}
.gap-3{ gap: var(--spacing-3);} 
/**************** SWATCHES*****************/
.swatches{
    display: flex;
}
 
.swatch .swatch-value {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(45, 48, 41, 0.2);
}
.swatch.swatch-name{
    text-align: centers;
}
