/*css reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5;
}

/**************** SWATCHES*****************/
.swatch .swatch-valuem{
    background-color: aquamarine;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}